*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    background-color: blue;
    flex-direction: column;
    
}
.head{
    text-align: center;
}
.download-btn{
    display: block;
    max-width: 100%;
    margin: 10px auto;
    background-color: DodgerBlue;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
}
.download-btn:hover{
    background-color: RoyalBlue;
}
