<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="container text-center " style="background-color: #7232a1;">
    
        <h1 style="font-size: 100px; color: white; ">Sample Page</h1>

        <br />
        <br />
        <h5 style="color: white;">Today is : {{day}} <sup>th</sup> {{month}} {{year}} {{time}}</h5>

        <br />
        <br />
        <img src="https://picsum.photos/400" alt="network error">
        <br />
        <br />
        <a href="/" style="color: white; text-decoration: none;"> click this link  get random image</a>
        <br />
        <br />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>